<p id="notice"><%= notice %></p>

<div class='container'>

<p>
  <strong>Profile Picture:</strong>
  <%= image_tag @profile.avatar.url(:medium) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
