<h1>My Profile</h1>
Name: <%= @profile.user.name %>
        <p>Picture:<img src="<%= @profile.profile_image_url %>" class="img-circle"></p>
        <p><span class="glyphicon glyphicon-globe"></span>Location:<%= @profile.location %></p>
        <p><span class="glyphicon glyphicon-user"></span>Gender:<%= @profile.gender %></p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email:<%= @profile.email %></p>
        <p>Date of Birth:<%= @profile.date_of_birth %></p>
        <p><%= link_to 'Show Profile', @profile %></p>
        <p><%= link_to 'Edit Profile', edit_profile_path %></p>
        <p><%= link_to 'Delete Profile', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></p>
   